%h1= @company.name

%p= 'by ' + @company.user.first_name + " " + @company.user.last_name

%p= @company.name
%p= @company.website
%p= @company.description
%p= @company.headquarters
%p= @company.company_size
