.container.unitern-form
  .row
    = render 'shared/errors', obj: @opportunity
    .col-lg-8.col-lg-offset-2
      .panel.panel-default
        .panel-heading
          %h4.text-center= form_header
        .panel-body
          = form_for(@opportunity, :html => {class: "form-horizontal", role: "form" }) do |f|
            .form-group
              .control-label.col-md-2
                = f.label :company_id, "Select Company"
                %br/
              .col-md-10
                = f.select :company_id, options_from_collection_for_select(current_user.companies, 'id', 'name', current_user.companies[0].id), {}, {required: 'true', autofocus: 'true', class: 'form-control'}
            .form-group
              .control-label.col-md-2
                = f.label :name
                %br/
              .col-md-10
                = f.text_field :name, class: "form-control", placeholder: "Internship name"
            .form-group
              .control-label.col-md-2
                = f.label :location
                %br/
              .col-md-10
                = f.text_field :location, class: "form-control", placeholder: "Location"
            .form-group
              .control-label.col-md-2
                = f.label :duration
                %br/
              .col-md-10
                = f.text_field :duration, class: "form-control", placeholder: "How long is the internship for"
            .form-group
              .control-label.col-md-2
                = f.label :hourly_rate
                %br/
              .col-md-10
                = f.number_field :hourly_rate, class: "form-control", placeholder: "Hourly rate", step: "any"
            .form-group
              .control-label.col-md-2
                = f.label :description
                %br/
              .col-md-10
                = f.text_area :description, rows: 6, class: "form-control", placeholder: "Description"
            .form-group
              .control-label.col-md-2
                = f.label :responsibilities
                %br/
              .col-md-10
                = f.text_area :responsibilities, rows: 4, class: "form-control", placeholder: "Responsibilities"
            .form-group
              .col-md-offset-2.col-md-10
                = f.submit(class: "btn btn-primary")
