.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default.auth-container
        .panel-heading
          %h3.panel-title
            = "#{@opportunity.name} (#{@opportunity.company.name})"
        .panel-body
          %ul.list-group
            %li.list-group-item= @opportunity.location
            %li.list-group-item= @opportunity.description
            %li.list-group-item= @opportunity.responsibilities
            %li.list-group-item= @opportunity.duration
            %li.list-group-item= @opportunity.hourly_rate
            %br
            - if current_user.companies.exists?(@opportunity.company)
              = link_to "Edit", edit_opportunity_path(@opportunity), class: "btn btn-primary"
